html {
    scroll-behavior: smooth;
}
body{
    background-color: #F7F7F7;
    color: #A94A4A;
}

#header {
    background-color: #A94A4A !important;
}

#footer {
    background-color: #A94A4A;
}
.footer-p{
    color: #F7F7F7 !important;
}

.heading{
    display: flex;
    justify-content: space-between;
}

.more-btn {
    height: 40px;
    display: inline-block;
    background-color: #F7F7F7 !important;
    color: #A94A4A !important;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.1s ease;
}
.more-btn:hover {
    background-color: #A94A4A !important;
    color: #F7F7F7 !important;
    border-color: #F7F7F7 !important;
}
a.btn:active,
a.btn:focus,
button:active,
button:focus {
    background-color: #A94A4A !important;
    color: #F7F7F7 !important;
    border-color: #F7F7F7 !important;
    outline: none !important;
}
.btn {
    display: inline-block;
    background-color: #A94A4A;
    color: #F7F7F7;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.1s ease;
}
.btn:hover {
    background-color: #F7F7F7;
    color: #A94A4A;
    border-color: #A94A4A;
}
a.btn:active,
a.btn:focus,
button:active,
button:focus {
    background-color: #F7F7F7 !important;
    color: #A94A4A !important;
    border-color: #A94A4A !important;
    outline: none !important;
}
.btn-primary {
    background-color: #A94A4A;
    border-color: #A94A4A;
    color: #F7F7F7;
}

.card{
    background-color: #F7F7F7;
    color: #A94A4A;
}

#featuring-projects.card{
    border-color: #F7F7F7 !important;
}

#featuring-projects {
    background-color: #A94A4A;
    color: #F7F7F7;
}

.text-secondary{
    color: #BFBBA9 !important;
}
